.details {
    margin: 107px 64px 0 64px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .details_Title {
    font-size: 32px;  
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0px;
    text-align: left;
  }
  
  .details .detailsUnderText {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
  }
  
  .details .feelsLike {
    margin-top: 33px;
    width: 600px;
    height: 164px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
  }
  
  .details .sunPosition {
    margin-top: 33px;
    width: 280px;
    height: 164px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
  }
  
  .details #feelsLikePart {
    display: flex;
    flex-direction: column;
    width: 60px; 
    height: 32px; 
    margin: 0 60px 60px 0;  
  }
  
  .feelsLikePart_title {
    padding-bottom: 8px; 
    font-size: 22px; 
  }
  
  .feelsLikePart_info {
    font-size: 22px;  
    padding-right: 6px; 
    font-weight: 300; 
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
  }
  
  .details #sunPositionPart {
    display: flex;
    flex-direction: column;
    width: 70px; 
    height: 35px; 
    margin-bottom: 32px; 
    margin-right: 32px; 
  }

  .sunPosition_title {
    padding-bottom: 8px;
    font-size: 22px; 
  }
  
  .sunPosition_info {
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
  }

  .sunPosition_time {
    padding-left: 16px;  
  }